@import 'https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family:'Nunito', sans-serif;
}

/* Remove selections from icons. */ 
.material-symbols-rounded {
    @apply select-none;
}

/* Set default dark background color */
body.dark {
    @apply bg-nord-dark-200;
}

/* Apply default text color to inputs. */
input[type="text"], 
input[type="password"], 
input[type="email"],
textarea {
    @apply text-nord-dark-300;
    @apply dark:text-nord-light-300;
    @apply placeholder:text-nord-dark-300/60;
    @apply dark:placeholder:text-nord-light-300/60;
}

/* Remove  ring, outline and border from inputs that is not checkbox. */
input, 
select, 
textarea {
    @apply !ring-0;
    @apply !ring-offset-0;
    @apply border-none
}

/* Remove ring and outline from checkboxes, radio inputs and buttons. */
input[type="checkbox"], 
input[type="radio"], 
button {
    @apply !ring-0;
    @apply !ring-offset-0;
    @apply !outline-none; 
}

[type='checkbox'] {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(196,202,212)' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}

.dark [type='checkbox'] {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(92,101,120)' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
}